h1 {
	text-align: center;
}

table {
	margin: auto;
}

td {
	background: rgba(0.1,0.1,0.1,0.01);
	width: 100px;
	height: 100px;
}

td.vertical {
	border-left: 1px solid black;
	border-right: 1px solid black;
}

td.horizontal {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

td:hover {
	background: rgba(1.0,0.1,0.1,0.1);
}